<html>

<head>
  <!-- <script src="/src/ImportSmartContract.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

<body>
  <p>dashboard</p>
</div>

</body>
</html>
