<html>

<head>
  <!-- <script src="/src/ImportSmartContract.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/landing_page.css">

<body>
  <div class="background">
    <div class="layer"></div>
    <div class="overlay">
      <div class="success-container">
        <div class="success-checkmark"></div>
        <p class="success-name">Success!</p>
    </div>
      <form id="brandConfirmationForm"  method="get" action="/dashboard">
        <div class="text-center form-group">
          <p class="success_text">Your ENS has been verified</p>
          <p class="success_text">You can now view bounties from our content creators!</p>
          <input class="okbutton" type="submit" value="OK"/>
        </div>
      </form>
   </div>
</div>

</body>
</html>
