<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/influencerPage.css">

</head>
<body>
    <div class="background">
      <form>
        <label for="influencername" class="col-lg-2 control-label">Influencer Name</label>
          <input id="influencername" type="text">

          <label for="brandname" class="col-lg-2 control-label">Brand Name</label>
          <input id="brandname" type="text">

          <label for="terms" class="col-lg-2 control-label">Terms</label>
          <input id="terms" type="text">

          <button id="button">Submit Contract</button>
          <!--<button id="buttonget">Get Instructor</button>-->
      </form>

    </div>
  </div>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];
        var SmartSponsor = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_influencerName",
				"type": "string"
			},
			{
				"name": "_brandName",
				"type": "string"
			},
			{
				"name": "_terms",
				"type": "string"
			}
		],
		"name": "set",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "get",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);

  var Coursetro = SmartSponsor.at('0xf17bc99a8d394eeb95ec772697081654a57cba7e');
      console.log(Coursetro);

      $("#button").click(function() {
          Coursetro.set($("#influencername").val(), $("#brandname").val(), $("#terms").val(), function(err, result){
            if(err){
              console.log(err);
            }
            else{
              console.log(result);
            }
          });
      });
      $("#buttonget").click(function() {
          Coursetro.get(function(err, result){
            if(err){
              console.log(err);
            }
            else{
              console.log("blah " + result);
            }
          });
      });

    </script>
</html>
