<html>

<head>
  <script src="/src/ImportSmartContract.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/landing_page.css">

<body>
  
</body>
</html>
