body{
  background-image: url("../images/Background_grey.png");
   width: 100%;
   height: 100%;

}

.priceContainerPage{
  background: #F2F2F2;
  display:flex;
  flex-direction:column;
  float:left;
  width: 150px;
  text-align:center;
height: 150px;
}

.shipment-list-vertical{
   list-style:none;
   margin: 0 auto;
   max-width: 600px;
   padding: 0;
}

.shipment-list-vertical li{
   box-sizing:border-box;
   overflow: hidden;

   text-align:left;
   font:normal 12px sans-serif;

   background-color:#ffffff;
   border:1px solid #dbe3e7;
   border-radius: 3px;
   box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

   max-width:570px;
   margin-bottom: 25px;
   padding: 25px;
}

/* Product image */

.shipment-list-vertical .shipment-customer{
   float:left;
   display: block;

   text-align: center;
   box-shadow : 0 0 20px 8px #f3f3f3 inset;

   width: 200px;
   height: 200px;
   margin-right: 25px;
   padding: 20px 0;
   box-sizing: border-box;

}

img{
  width: 200px;
}

.shipment-list-vertical .shipment-details{
   max-width: 275px;
   float: right;
}

/* Product title */

.shipment-list-vertical .shipment-details h2{
   display: block;
   margin:0;
   font-size: 18px;
   white-space: normal;
   overflow: hidden;
   text-overflow:ellipsis;
}

.shipment-list-vertical .shipment-details h2 a{
   color: #2b2b2b;
   text-decoration: none;
}

.shipment-list-vertical .shipment-details .shipment-view{
   float:right;
   color: #808080;
   text-decoration: none;
   margin-top: 5px;
}

/* Product description */

.shipment-list-vertical .shipment-details .shipment-location{
   color: #5d5d5d;
   font-size: 18px;
   line-height: 20px;
   white-space: normal;

   margin: 20px 0;
}

.shipment-youtube{
  font-family: SF UI Text;
line-height: normal;
font-size: 18px;
letter-spacing: -0.078px;

color: #2F80ED;
}

.shipment-list-vertical .shipment-details .shipment-initiation{
   color: #5d5d5d;
   font-size: 18px;
   line-height: 20px;
   white-space: normal;

   margin: 20px 0;
}

/* Product button and price */

.shipment-list-vertical .shipment-details button{
   border-radius: 2px;
   background-color:  #87bae1;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
   border: 0;
   color: #ffffff;
   font-weight: bold;
   font-size: 13px;
   cursor: pointer;

   width: 95px;
   height: 32px;
}

 .shipment-value{
   float: right;

   padding-top: 6px;
   margin: 0;
   font-family: SF UI Text;
line-height: normal;
font-size: 32px;
letter-spacing: -0.078px;

color: #F2395B;
}

.shipment-crypto{
  font-family: SF UI Text;
line-height: normal;
font-size: 18px;
letter-spacing: -0.078px;

color: #000000;
float: right;
margin: 0px;
}


.heart_outline img{
  width: 36px;
height: 32px;
float:right;
}

.price_container{
  display:flex;
  flex-direction:column;
  float:right;
}

.card{
  padding: 0;
border: none;
background: none;
}

/* Making the product list responsive

@media (max-width: 600px){

   .shipment-list-vertical li{
       max-width:265px;
       margin-left: auto;
       margin-right: auto;
   }

   .shipment-list-vertical .shipment-customer{
       float:none;
       margin: 0 0 25px 0;
   }

   .shipment-list-vertical .shipment-details{
       float: none;
   }

   .shipment-list-vertical .shipment-details .shipment-location{
       margin-top: 10px;
   }

   .shipment-list-vertical .shipment-details .shipment-initiation{
       margin-top: 10px;
   }
}*/
.bounty_count_title{
  width: 288px;
height: 43px;
margin:auto;


font-family: SF UI Text;
line-height: normal;
font-size: 36px;
letter-spacing: -0.078px;

color: #000000;
}

.bounty_title_more{


font-family: SF UI Text;
line-height: normal;
font-size: 36px;
letter-spacing: -0.078px;

color: #000000;

}
.logo.small img{
  height: 50px;
    width: 100px;
  }

.logo.heart img{
  height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
  }
  .logo.profile img{
    height: 50px;
      width: 50px;
      position: absolute;
      right: 70px;
    }


  .logo.search img{
    width: 700px;
  }

  .logo.magnifier img{
    position: absolute;
    left: 810px;
    width: 20px;
    height: 35px;
    top: 30px;
  }

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2395B;
    display:flex;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

#terms{
  width:100%;
  height: 100px;
}

.submit_contract{
  background: #F2395B;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 42px;
  color: #ffff;
  width: 119px;
  font-size: 16px;
  margin:auto;
}

.tags{
  display:flex;
  float:left;
}

.tag{
  background: #F2395B;
  color: #ffff;
  background: #F2395B;
    color: #ffff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    text-align:center;

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom:30px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.more-content-wrapper{
  display:flex;
}

.content-media-wrapper{
  width:50%
}

.moreBy{
  width: 50%;
    margin-left: 20px;
    font-family: SF UI Text;
line-height: normal;
font-size: 18px;
letter-spacing: -0.078px;
}
/*
.first_card{
  display:flex;
  min-height: 100px;
}

.influencer_image{
  width:100px;
  height:100px;
} */
