.center{
  padding: 30vh;
  height: 100vh;
}

.center .text-wrapper{
  margin: 0 auto;
  text-align: center;
  width: 90vw;
}

.gradient{
   background: linear-gradient(#E8F6EC, #F9FFE9);
}

.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
