<html>

<head>
  <script src="/src/ImportSmartContract.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../assets/css/landing_page.css">

</head>

<body>
<div class="gradient">
<div class = "container-fluid wrapper">
  <div class="col-sm-12 center">
    <div class="col-sm-12 text-wrapper">
      <!-- <img src="../Mockup/logo-settle.png" style ="margin:10px;"> -->
        <div>
          <h5>  NEW TO CANADA? <br> DON'T FRET. GET SET. </h5>
          <p>I am a:</p>
        </div>
          <button style="background-color:#72AC43; padding:5px; width:200px;" type="button" class = "btn btn-lg btn-secondary box-shadow--8dp" id='mentor-button'>Brand</button>
          <button style="background-color:#72AC43; padding:5px; width:200px;" type="button" class = "btn btn-lg btn-secondary box-shadow--8dp" id='mentee-button'>Content Creator</button>
    </div>
  </div>
</div>
</div>
</div>

</body>
</html>
